apiVersion: apps/v1
kind: Deployment
metadata:
  name: laravel-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: laravel
  template:
    metadata:
      labels:
        app: laravel
    spec:
      containers:
      - name: laravel
        image: username/laravel-contact-app:v1
        env:
        - name: DB_HOST
          value: "mariadb-service"
        - name: DB_DATABASE
          value: "contact"
        - name: DB_USERNAME
          value: "root"
        - name: DB_PASSWORD
          value: "mypassword"
---
apiVersion: v1
kind: Service
metadata:
  name: laravel-service
spec:
  type: LoadBalancer
  ports:
    - port: 80
      targetPort: 9000
      nodePort: 30081
  selector:
    app: laravel