apiVersion: apps/v1
kind: Deployment
metadata:
  name: mariadb
spec:
  selector:
    matchLabels:
      app: mariadb
  template:
    metadata:
      labels:
        app: mariadb
    spec:
      containers:
      - name: mariadb
        image: mariadb:10.6
        env:
        - name: MARIADB_ROOT_PASSWORD
          value: "mypassword"
        - name: MARIADB_DATABASE
          value: "contact"
---
apiVersion: v1
kind: Service
metadata:
  name: contact-db-service
spec:
  ports:
    - port: 3306
  selector:
    app: mariadb